<% var error %>
<% var contacts = contacts || [] %>
<%- include("./parts//header.ejs") %>
<section>
  <div class="container-fluid d-flex row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-3" style=" height: 100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 ms-3">Apex</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin_panel/" class="nav-link text-white">
            Asosiy
          </a>
        </li>
        <li>
          <a href="/admin_panel/applicants/" class="nav-link text-white ">
            Arizachilar
          </a>
        </li>
        <li>
          <a href="/admin_panel/news/" class="nav-link text-white ">
            Yangiliklar
          </a>
        </li>
        <li>
          <a href="/admin_panel/courses/" class="nav-link text-white">
            Kurslar
          </a>
        </li>
        <li>
          <a href="/admin_panel/teachers/" class="nav-link text-white">
            O'qituvchilar
          </a>
        </li>
        <li>
          <a href="/admin_panel/scenes/" class="nav-link text-white">
            Lavhalar
          </a>
        </li>
        <li>
          <a href="/admin_panel/results/" class="nav-link text-white">
            Natijalari
          </a>
        </li>
        <li>
          <a href="/admin_panel/comments/" class="nav-link text-white">
            Izohlar
          </a>
        </li>
        <li>
          <a href="/admin_panel/address/" class="nav-link text-white">
            Manzil
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white active">
            Aloqa
          </a>
        </li>
        <li>
          <a href="/admin_panel/sessions/" class="nav-link text-white">
            Sessiyalar
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">

          <strong>Akkaunt</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/sign_out">Sign out</a></li>
        </ul>
      </div>
    </div>

    <div class="col-9 mt-3 mb-3"> 
      <div class="w-100">
        <h3 class="text-center text-primary mt-4">
           Aloqa
        </h3>

        <table class="table w-100 table-striped  mt-3">
          <thead>
            <tr >
              <th>
                Ismi, familyasi
              </th> 
              <th >
                Raqami
              </th>
              <th >
               Emaili
              </th>
            </tr>
          </thead>

          <tbody>
            <% for (let contact of contacts) { %>
            <tr>
              <td>
                <%= contact.student_contact_name %>
              </td>
              <td>
                <a href="tel:<%=contact.student_contact_phone %>">
                    <%= contact.student_contact_phone %>
                </a>
              </td> 
              <td>
                 <%= contact.student_contact_email  %> 
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<%- include("./parts/footer.ejs") %>