<% var error %>
<% var teachers = teachers || [] %>
<%- include("./parts//header.ejs") %>
<section>
  <div class="container-fluid d-flex row">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-3" style=" height: 100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 ms-3">Apex</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/admin_panel/" class="nav-link text-white">
            Asosiy
          </a>
        </li>
        <li>
          <a href="/admin_panel/applicants/" class="nav-link text-white ">
            Arizachilar
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white ">
            Yangiliklar
          </a>
        </li>
        <li>
          <a href="/admin_panel/courses/" class="nav-link text-white ">
            Kurslar
          </a>
        </li>
        <li>
          <a href="/admin_panel/teachers/" class="nav-link text-white active">
            O'qituvchilar
          </a>
        </li>
        <li>
          <a href="/admin_panel/scenes/" class="nav-link text-white">
            Lavhalar
          </a>
        </li>
        <li>
          <a href="/admin_panel/results/" class="nav-link text-white">
            Natijalari
          </a>
        </li>
        <li>
          <a href="/admin_panel/comments/" class="nav-link text-white">
            Izohlar
          </a>
        </li>
        <li>
          <a href="/admin_panel/address/" class="nav-link text-white">
            Manzil
          </a>
        </li>
        <li>
          <a href="/admin_panel/contacts/" class="nav-link text-white">
            Aloqa
          </a>
        </li>
        <li>
          <a href="/admin_panel/sessions/" class="nav-link text-white">
            Sessiyalar
          </a>
        </li>
      </ul>
      <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">

          <strong>Akkaunt</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/sign_out">Sign out</a></li>
        </ul>
      </div>
    </div>

    <div class="col-9 mt-3 mb-3">
      <div>
        <h3 class="mt-1 text-center text-info">O'qituvchi qo'shish</h3>

        <form id="form" method="POST" enctype="multipart/form-data"
          class="w-100 d-flex flex-column align-items-center mt-4 justify-content-center" autocomplete="off">
          <div class="row w-100">
            <% if(error) { %>
            <div class="alert alert-danger">
              <%= error  %>
            </div>
            <% } %>
            <div class="col-lg-6">
              <input id="name" required type="text" name="teacher_name" placeholder="Ismi, familyasi" class="form-control">
              <div class="mb-2 mt-2 ">
                <label for="formFile" class="form-label">Rasm yuklang</label>
                <input class="form-control" required name="photo" type="file" id="file">
              </div>
              <div class="mt-3">   
                <button type="submit" class="btn w-100 btn-primary mt-3">
                  Qo'shish
                </button>
              </div>
            </div>
            <div class="col-lg-6">
                <input id="name" required type="number" name="teacher_experience" placeholder="O'qituvchining tajribasi (yillarda)" class="form-control">
               
                <input id="name" required type="number" name="teacher_students" placeholder="O'qituvchining o'quvchilari(raqamlarda)" class="form-control mt-3">
              
                <input id="name" required type="text" name="teacher_subject" placeholder="O'qituvchining mutaxasisligi" class="form-control mt-3">

            </div>

          </div>

        </form>

      </div>

      <div class="w-100">
        <h3 class="text-center text-primary mt-4">
          O'qituvchilar
        </h3>

        <table class="table w-100 table-striped  mt-3">
          <thead>
            <tr class="w-100">
              <th  >
                Ismi, familyasi
              </th>
              <th  >
                Mutaxasisligi
              </th>
              <th  >
                O'quvchilar soni
              </th>
              <th  >
                O'quvtichining tajribasi
              </th>
              <th  >
                O'chirish
              </th>
            </tr>
          </thead>

          <tbody>
            <% for (let teacher of teachers) { %>
            <tr>
              <td>
                <%= teacher.teacher_name%>
              </td>
              <td>
                <%= teacher.teacher_subject %>
              </td>
              <td>
                <%= teacher.teacher_students %>
              </td>
              <td>
                <%= teacher.teacher_experience %>
              </td> 
              <td>
                <a href="teachers/<%=teacher.teacher_id%>" class="btn btn-danger">
                  O'chirish
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<%- include("./parts/footer.ejs") %>